---

---

@import "whiteglass";


.site-header {
    margin-top: 24px;
}

.post-content {
    line-height: 1.8;
}

.site-icon {
    line-height: 56px;
    font-size: 36px;
    float:right;
}

.site-icon a {
    text-decoration: none;
}


table {
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    margin: 0;
    border: 1px solid #aaa;
    padding: 5px;
}

tr:nth-child(even) td, th {
    background: #f9f9f9;
}
